@model Models.User

@{
    ViewData["Title"] = "UserSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="itemContainer">
    @if (TempData["Error"] != null)
    {
    <script type="text/javascript">
        window.onload = function () {
            swal("Registration Failed ! Please try Again", '@TempData["Error"]', "error");
        };
    </script>
    @*<div class="alert alert-danger alert-dismissible fade show" role="alert">
    @TempData["Error"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>*@
    }
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="card col-md-12 col-xl-10 ">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center g-2">
                        <div class="col-md-6" style="border-style:none">
                            <img src="../undraw_Tasting_re_3k5a.png" alt="Image" class="d-none d-md-flex img-fluid" style="border-radius:2rem" />
                        </div>

                        <div class="card col-md-6" style="border-style:none;background-color:transparent">
                            <div class="card-body text-black">
                                <h1 class="Heading text-black">Register</h1>
                                <form asp-action="UserSignUp" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="FullName" class="control-label"></label>
                                        <input asp-for="FullName" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input type="file" asp-for="Image"  accept="image/*" value="fileName" name="UserImage" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FullAddress" class="control-label"></label>
                                        <input asp-for="FullAddress" class="form-control" />
                                        <span asp-validation-for="FullAddress" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="control-label"></label>
                                        <input asp-for="PhoneNumber" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group my-2">
                                        <input type="submit" value="SignUp" class="btn btn-outline-dark float-end" style="border-radius:2rem" />
                                        <a asp-action="UserLogin" value="SignIn" class="btn btn-outline-dark float-start" style="border-radius:2rem">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a style="text-decoration:none;color:white" asp-action="UserLogin">Back to Login</a>
</div>

