@using Models.ViewModel
@model AdminViewModel
@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/chart.js"></script>

<div class="container">
    @* <h1 class="row-header">
        Dashboard
    </h1> *@
    <div class="container-fluid mt-5">
        
            <div class="row justify-content-center m-0 w-100 mb-4">
                <div class="col-md-4 my-2">
                    <div class="card" style="text-decoration:none;cursor:pointer" >
                       @*  <div class="card-body"> *@
                    <h1 class="text-black mt-2 mx-2" style="font-size:18px;color:black;font-weight:800;">Total Orders: &nbsp;@Model.count_Orders </h1>
                            @* <hr /> *@
                            <div id="chart_Orders" style="object-fit:cover;position:relative">
                            </div>
                        @* </div> *@
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card text-black" style="text-decoration:none;cursor:pointer" >
                        @* <div class="card-body"> *@
                    <h1 class="text-black mt-2 mx-2" style="font-size:18px;color:black;font-weight:800;">Total Payments: &nbsp;@Model.count_Payments</h1>
                          @*   <hr /> *@
                        <div id="chart_Payment" style="object-fit:cover;position:relative">
                            </div>
                        @* </div> *@
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card text-black" style="text-decoration:none;cursor:pointer" >
                       @*  <div class="card-body"> *@
                    <h1 class="text-black mt-2 mx-2" style="font-size:18px;color:black;font-weight:800;">Total Earnings: ₹&nbsp;@Model.sum_earnings</h1>
                           @*  <hr /> *@
                        <div id="chart_Earnings" style="object-fit:cover;position:relative">
                            </div>
                       @*  </div> *@
                    </div>
                </div>
                @*  <div class="col-md-3 my-2">
                <a class="card text-black" style="text-decoration:none;cursor:pointer">
                <div class="card-body">
                <h1 class="text-black-50" style="font-size:22px;color:black;font-family: 'Permanent Marker', cursive;">Roles</h1>
                <hr/>
                <div id="chart_Roles">

                </div>
                </div>
                </a>
                </div> *@
            </div>
        <div class="row justify-content-center m-0 w-100 mb-4">
                <div class="col-md-6 my-2">
                    <div class="card text-black" style="height:100%">
                        <div class="card-body">
                        <h1 class="text-black" style="font-size:18px;color:black;font-weight:800;">
                            Total Users: &nbsp;@Model.count_Users
                        </h1>
                            <hr/>
                        <div id="chart_Users">
                        </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 my-2">
                <div class="card" style="height:100%">
                    <div class="card-body">
                        <h1 class="text-black" style="font-size:18px;color:black;font-weight:800;">
                            Total Admins:&nbsp; @Model.count_Admins
                        </h1><hr />
                        <div id="chart_Admins" style="height:100%">
                        </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        
    </div>
    
   


</div>
<script>
    $(document).ready(function () {
        var chart_Foods, chart_Orders, chart_Earnings, chart_Admins, chart_Users;
        chart_Payment = document.querySelector('#chart_Payment');
        chart_Orders = document.querySelector('#chart_Orders');
        chart_Users = document.querySelector('#chart_Users');
        chart_Earnings = document.querySelector('#chart_Earnings');
        chart_Admins = document.querySelector('#chart_Admins');
        // console.log(chart_Orders);
        var orderData;
        getOrderPerDate();
        getPaymentPerMonth();
        getAdminPerRoles();
        getUserPerAddedDate();
        //Bar Chart
        
        function BarChart(chartName,data_X,data_Y,_name){
            console.log(data_X);
            console.log(data_Y);
            var options = {
                series: [{
                    name:_name,
                    data:data_Y
                }],
                chart: {
                    type: 'bar',
                    // height: 350
                },
                plotOptions: {
                    bar: {
                        borderRadius: 2,
                        horizontal: false,
                        distributed: true,
                        dataLabels: {
                            position: 'top',
                            hideOverflowingLabels: false,
                        },
                        columnWidht: '20%',
                    },
                },
                colors: ['#F43424', '#EF8B22', '#F1EE11', '#926CF1', '#11CCF1', '#086DEE'],
                dataLabels: {
                    enabled: true
                },
                xaxis: {
                    categories: data_X,
                },
                
            };
            var chart = new ApexCharts(chartName, options);
            chart.render();
        }
        //Area Chart without date time
        function AreaChart_withoutDateTime(chartName, data_X, data_Y, _name,colors) {
            var options = {
                series: [{
                    name: _name,
                    data: data_Y
                }],
                chart: {
                    type: 'area',
                    stacked: false,
                    // height: 350,
                    zoom: {
                        // type: 'x',
                        enabled: false,
                        // autoScaleYaxis: true
                    },
                    toolbar: {
                        // autoSelected: 'zoom'
                        enabled: false,
                    }
                },
                // grid:{
                //     show:false,
                // },
                colors: colors,
                dataLabels: {
                    enabled: false
                },
                // stroke:{
                //     curve:'straight'
                // },
                markers: {
                    size: 0,
                },
                // title: {
                //     text: _name,
                //     align: 'left'
                // },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                },
                yaxis: {
                    // labels: {
                    //    data_Y
                    // },
                    title: {
                        // text: _name,
                        show:false,
                    },
                    labels: {
                        show: false,
                    },
                },
                xaxis: {
                    // type: 'datetime',
                    categories: data_X,
                    labels: {
                        show: false,
                    },
                },

            };
            var chart = new ApexCharts(chartName, options);
            chart.render();
        }
        //Area Chart with Date time
        function AreaChart(chartName,data_X,data_Y,_name,colors) {
              var options = {
                series: [{
                    name: _name,
                    data: data_Y
                }],
                chart: {
                    type: 'area',
                    stacked: false,
                    // height: 350,
                    zoom: {
                        // type: 'x',
                        enabled: false,
                        // autoScaleYaxis: true
                    },
                    toolbar: {
                        // autoSelected: 'zoom'
                        enabled:false,
                    }
                },
                colors: colors,
                  // grid: {
                  //     show:false,
                  // },

                dataLabels: {
                    enabled: false
                },
                markers: {
                    size: 0,
                },
                // title: {
                //     text: _name,
                //     align: 'left'
                // },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                },
                yaxis: {
                    // labels: {
                    //    data_Y
                    // },
                    title: {
                        // text: _name,
                        show:false,
                    }, labels: {
                        show: false,
                    },
                },
                xaxis: {
                    type: 'datetime',
                    categories:data_X, labels: {
                        show: false,
                    },
                },
               
            };
            var chart = new ApexCharts(chartName, options);
            chart.render();
        }
        //Circular Chart
        function circularChart(chartName, data_X, data_Y, _name,chartType) {
            var options = {
                series: data_Y,
                chart: {
                    // width: 400,
                    height:500,
                    type: chartType,
                },
                legend: {
                    position:'left'
                },
                labels: data_X,
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 400
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };

            var chart = new ApexCharts(chartName, options);
            chart.render();
        }
        //Getting Orders per date
        function getOrderPerDate(){
            $.ajax({
                url: 'getOrdersPerDate',
                method:'GET',
                success:function(data){
                    orderData = data;
                    // console.log(orderData);
                    const data_X = orderData.map(item => item.date);
                    const data_Y = orderData.map(item => item.count);
                    var color = ['#926CF1'];
                    AreaChart(chart_Orders, data_X,data_Y,"Total Orders",color);
                    
                },
                error:function(error){
                    console.log(error);
                }
            })
        }
        function getPaymentPerMonth() {
            $.ajax({
                url: 'getPaymentPerMonths',
                method:'GET',
                success: function (data) {
                    console.log(data);
                    
                    // data_Y_dum1=data.map(item=>item.)
                    const data_X = data.map(item => item.date);
                    const data_Y = data.map(item => item.sum_payment);
                    const data_Y_count = data.map(item => item.count);
                    var color1 = ['#F03636'];
                    var color2 = ['#17EF0D'];
                    
                    console.log(data_X);
                    AreaChart_withoutDateTime(chart_Earnings, data_X, data_Y, "Total Earnings:₹", color1);
                    AreaChart_withoutDateTime(chart_Payment, data_X, data_Y_count, "Total Payments", color2);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        function getAdminPerRoles() {
            $.ajax({
                url: 'getAdminPerRoles',
                method:'GET',
                success: function (data) {
                    console.log(data);
                    const Count = data.map(items => items.count);
                    const Role = data.map(items => items.role);
                    circularChart(chart_Admins, Role, Count, "Total Admins", "donut")
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        function getUserPerAddedDate() {
            $.ajax({
                url: 'getUsersPerAddedDates',
                method:'GET',
                success:function(data){
                    console.log(data);
                    const data_X = data.map(item => item.monthYear);
                    const data_Y = data.map(item => item.count);
                    // var colors = ['#F43424', '#EF8B22', '#F1EE11', '#926CF1', '#11CCF1', '#086DEE'];
                    BarChart(chart_Users, data_X, data_Y,"Total Users")
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
    })
</script>