<ul class="list-group-flush px-0 vh-100 overflow-auto" >

    <li class="list-group-item recipe-item ">
        <a class="text-decoration-none  text-dark" href="">mushrooms</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">sweet potato</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">cabbage</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">cauliflower</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">red pepper</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">beetroot</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">zucchini</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">artichoke</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">garlic</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">basil</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">boysenberry</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">avocado</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">rosemary</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">oregano</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">saffron</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">green bean</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">bean</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">chickpea</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">lentil</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">apple</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">garlic</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">apricot</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">banana</a>
    </li>
    <li class="list-group-item recipe-item">
        <a class="text-decoration-none text-dark" href="">blackberry</a>
    </li>
</ul>