<div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 my-5 py-5">
            <div class="card" style="background:none">
                <div class="card-body text-white">
                    
                    <center><img src="~/images/zero-two-dance.gif" style="height:300px;width:200px" /></center>
                    <h3 class="text-center my-2 text-success" style="font-family: 'Permanent Marker', cursive;">Payment Successfull !</h3>
                    <p class="text-center my-2" >Your payment is Successfull, Please Click on Continue</p>
                    <center><a class="btn btn-sm btn-success my-2" asp-action="Index" asp-controller="Home">Continue</a></center>
                </div>
              
            </div>
        </div>
    </div>
</div>
